In [12]:
import numpy as np

In [13]:
import pandas as pd

In [14]:
# help(pd.Series)

In [15]:
myindex=["USA","CANADA","MAXICO"]

In [16]:
mydata=[1776,1867,1821]

In [17]:
myser1=pd.Series(data=mydata)
myser1

0    1776
1    1867
2    1821
dtype: int64

In [18]:
myser1[0]

1776

In [19]:
myser=pd.Series(data=mydata,index=myindex)
myser

USA       1776
CANADA    1867
MAXICO    1821
dtype: int64

In [20]:
print(myser[0])
myser["USA"]

1776

1776

In [21]:
age={'Sam':5,'Frank':10,"Rahul":7}

In [22]:
pd.Series(age)

Sam       5
Frank    10
Rahul     7
dtype: int64